:root {
    --clr-dark-purple: #593267;
    --clr-light-purple: #7866EA;
    --clr-purple: #5A3383;
    --clr-yellow: #FFAF4F;
    --clr-orange: #ED733F;
}


body {
    background: linear-gradient(to bottom right, var(--clr-light-purple),var(--clr-purple));
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
    min-height: 100vh;
    width: 100%;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    text-shadow: 1px 0px 4px black;

}



.text{
    justify-content: center;
    margin: 2rem;
}

img{
    height: 7rem;  
}

.Start{
    margin: 0 auto;
    display: flex;
}

/* .bot{
    display: flex;
    justify-content: center;
    justify-content: space-around;
} */
/* .bottext{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
} */

/*#region - Botarea */
.bot-choices {
    margin: 4rem 0rem 1rem;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bot-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 12rem;
}
h3{
    margin-bottom: 2rem;
}

.chooseOpponentButton {
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    border: none;
    background: var(--clr-yellow);
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.75);
    transition: 250ms ease-in-out;
    cursor: pointer;
    outline: none;
    color: black;
    text-decoration: none;
}
.infoText{
    display: none;
    font-size: 1.2rem;
    text-align: center;
    width: 15rem;
    margin: 2rem 0rem;
}

.chooseOpponentButton:hover {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.75);
    background: var(--clr-orange);
}
/*#endregion */

.btnstart{
    justify-content: center;
}
.Startgamebtn{
    color: black;
    text-decoration: none;
    margin: 3rem;
    padding: 1rem 6rem;
    border-radius: 50rem;
    border: none;
    background: var(--clr-yellow);
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.75);
    transition: 250ms ease-in-out;
    cursor: pointer;
    outline: none;
}

.Startgamebtn:hover {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.75);
    background: var(--clr-orange);
}

/* REUSABLE CLASSES */
.flex {
    display: flex;
}
.textCenter {
    text-align: center;
}

