:root {
    --clr-dark-purple: #593267;
    --clr-yellow: #FFAF4F;
    --clr-orange: #ED733F;
}

body {
    background: var(--clr-dark-purple);
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 100vh;
    width: 100%;
}

.center {
    text-align: center;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputname-text{
    font-size: 2.5rem;
    margin-top: 4rem;
    font-family: 'Sedgwick Ave Display', cursive;

}

img{
    height: 7rem;
}
.bot{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.Start{
    margin: 0 auto;
    display: flex;
}
.bottext{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.btnstart{
    
    display: flex;
    justify-content: center;
}
.okbtn{
    
  height: 3rem;
  width: 10rem;
  border-radius: 20rem;
  border: none;
  background: var(--clr-yellow);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.75);
  transition: 250ms ease-in-out;
  cursor: pointer;
  outline: none;
}
.okbtn:hover {
    
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.75);
    background: var(--clr-orange);
  }
.Startgamebtn{
    padding: 1rem 6rem;
    border-radius: 50rem;
    border: none;
    background: var(--clr-yellow);
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.75);
    transition: 250ms ease-in-out;
    cursor: pointer;
    outline: none;
}
.Startgamebtn:hover {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.75);
    background: var(--clr-orange);
  }
  .textinfo{
    width: 15rem;
    padding: 0.7rem;
    font-size: 1.2rem;
    margin: 1rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-sizing: border-box;
  }

  .bot-container{
      margin: 5rem 0rem 5rem;
  }

  .bot-info{
      width: 20%;
  }

  .getToKnow-text{
        font-size: 2rem;
        text-align: center;
  }

  .input-container{
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 2rem 0rem 10rem;
  }