:root {
    --clr-dark-purple: #593267;
    --clr-light-purple: #7866EA;
    --clr-purple: #5A3383;
    --clr-yellow: #FFAF4F;
    --clr-orange: #ED733F;
}

body {
    background: linear-gradient(to bottom right, var(--clr-light-purple),var(--clr-purple));
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

h1 {
    font-size: 2.25rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    /*text-shadow: 2px 2px 0px var(--clr-yellow);*/
    margin-block-end: 0;
    font-family: 'Sedgwick Ave Display', cursive;
}

main {
    flex-direction: column;
    text-align: center;
}

#winOrLoseText {
    color: var(--clr-orange);
    font-size: x-large;
}

.highScoreArea {
    background: rgba(255, 255, 255, 0.644);
    border-radius: 1rem;
    width: 13rem;    
}

.listRows {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    line-height: 2rem;
}

button {
    padding: 1rem 2rem;
    border-radius: 50rem;
    border: none;
    background: var(--clr-yellow);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.75);
    transition: 250ms ease-in-out;
    cursor: pointer;
}
  
button:hover {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.75);
    background: var(--clr-orange);
}

/* REUSABLE CLASSES */
.flex {
    display: flex;
}
.center {
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.endscore{
    font-size: 1.2rem;
}