@media only screen and (max-width:720px) {
    .gameLeader {
        width: 16rem;
        flex-direction: column-reverse;
    }

    header {
        height: 13rem;
    }

    main {
        top: 14rem;
    }

    .player {
        margin: .3rem;
    }
}
