:root {
    --clr-dark-purple: #593267;
    --clr-yellow: #FFAF4F;
    --clr-orange: #ED733F;
  }

  body {
    background: var(--clr-dark-purple);
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  .play-h2{
      margin-top: 0rem;
      font-size: 2rem;
  }

h2 {
    font-family: 'Sedgwick Ave Display', cursive;
    color: white;
}

h4 {
    color: white;
}

.playscreen {
    
    align-items: center;
    justify-content: center;

}

.playfield {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}

.player-two {
    padding-top: 3rem;
    display: flex;
    flex-direction: row;

}

.player-one {
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
}
.player-three{
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
}
.character {
    align-items: horizontal;
}

.answers {
    padding-top: 2rem;
    padding-right: 2rem;
    text-align: left;
    
    display: flex;
    flex-direction: column;
}
.player{
    margin: 3rem;
}

.player-avatar {
    height: 6rem;
    width: auto;
}

.player-answer {
    font-size: 1.5rem;
    color: white
}

.playfield p {
    color:white;
    font-size: 1.5rem;
}

.game-answer {
    color: yellow;
}

.number-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inputUser{
    width: 10rem;
    padding: 0.7rem;
    font-size: 1.2rem;
    margin: 1rem;
    height: 2.2rem;
    width: 10rem;
    outline: none;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 0.5rem;
    
}
.submit{
    outline: none;
    cursor: pointer;
    height: 3rem;
    font-size: 1.2rem;
    margin: 0.5rem;
    width: 10rem;
    border-radius: 20rem;
    border: none;
    color: black;
    background-color:#FFAF4F ;
}

.btnsub{
    border-radius: 50rem;
    border: none;
    background: var(--clr-yellow);
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.75);
    transition: 250ms ease-in-out;
    cursor: pointer;
    outline: none;
}
.btnsub:hover {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.75);
    background: var(--clr-orange);
  }
  .textinfo{
    width: 45%;
    padding: 1.5rem 2rem;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .question{
      font-size: 2rem;
  }
