:root {
    --clr-dark-purple: #593267;
    --clr-light-purple: #7866EA;
    --clr-purple: #5A3383;
    --clr-yellow: #FFAF4F;
    --clr-orange: #ED733F;
}

body {
    background: linear-gradient(to bottom right, var(--clr-light-purple),var(--clr-purple));

    min-height: 100vh;
    width: 100%;
    
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
    justify-content: center;
}

header {
    top: 2rem;
    height: 12rem;
}

header p {
    font-size: 1.1rem;
    font-weight: bold;
}

.gameLeader {
    display: flex;
    background: rgba(255, 255, 255, 0.644);
    padding: 1rem;
    border-radius: 1rem;
    width: 36rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.leaderTalks {
    
    display: flex;
    flex-direction: row;
}

.leaderTalks img {
    height: 5rem;
    width: auto;
}

.gameLeader p {
    background: rgba(255, 255, 255, 0.829);
    padding: .7rem;
    margin-left: 1rem;
    border-radius: .5rem;
}

.timer-section {
    background: white;
    padding: .5rem .5rem;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    top: 11rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h2 {
    background: rgba(255, 255, 255, 0.945);
    padding: 1rem;
    margin: 0rem;
    border-radius: 1rem 1rem 0rem 0rem;
}

.player{
    margin: 1rem;
    width: 17rem;
}

.player-one, .userInputArea, .player-two, .player-three {
    background: rgba(255, 255, 255, 0.644);
    padding: 1rem 1rem;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    flex-direction: row;
    height: 7rem;
}

.guessAndImageArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.guessArea {
    background: white;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem;
    width: 7rem;
    height: 4rem;
    margin-left: .4rem;
}
.playerGuessArea {
    background: white;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 1rem;
    width: 8rem;
    height: 4rem;
    margin-left: .4rem;
}

.numberAnswer {
    font-size: xx-large;
    margin: 0;
}
.numberAnswer span {
    font-size: xx-large;
    margin: 0;
}

.game-answer p {
    margin-top: 0;
}

.player-avatar {
    height: 5rem;
    width: auto;
}

.userInputArea {
    display: flex;
    flex-direction: column;
}

#inputUser{
    outline: none;
    padding: 0.5rem 1rem;
    width: 7rem;
    height: 1.1rem;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 0.5rem;
}

.submit{
    outline: none;
    cursor: pointer;
    height: 2rem;
    width: 5rem;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 1rem;
    border: none;
    color: black;
    background-color:#FFAF4F ;
}

.submit:hover {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.75);
    background: var(--clr-orange);
}