:root {
  --clr-dark-purple: #593267;
  --clr-yellow: #FFAF4F;
  --clr-orange: #ED733F;
}

body {
  background: var(--clr-dark-purple);
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  /* justify-content: center; */
  /* margin: auto 0; */
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-width: 30rem;
  color: white;
  text-align: center;
}

.logo {
  width: 15rem;
  margin-top: 1rem;
}

/* h1 {
  font-size: 3.5rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--clr-yellow);
  font-family: 'Sedgwick Ave Display', cursive;
} */

h2 {
  font-size: 2.25rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px var(--clr-yellow);
  margin-block-end: 0;
}

p {
  line-height: 2.5rem;
  font-size: 1.25rem;
  margin-bottom: 10rem;
}

p b {
  line-height: 3rem;
}

.play-btn {
  padding: 1rem 6rem;
  border-radius: 50rem;
  border: none;
  background: var(--clr-yellow);
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.75);
  transition: 250ms ease-in-out;
  cursor: pointer;
  outline: none;
}

.play-btn:hover {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.75);
  background: var(--clr-orange);
}
.play-btn a{
  text-decoration: none;
  color: black;
}

