:root {
  --clr-light-purple: #7866EA;
  --clr-purple: #5A3383;
  --clr-yellow: #FFAF4F;
  --clr-orange: #ED733F;
}

body, html {
  overflow-x: hidden;
}

body {
  background: linear-gradient(to bottom right, var(--clr-light-purple),var(--clr-purple));
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  width: 100vw;
  color: white;
}

.logo {
  width: 15rem;
  margin-top: 1rem;
}

main {
  flex-direction: column;
}

img{
  height: 7rem;  
}

/*#region - HOW TO PLAY */
.regAndSign-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#registerDiv, #signInDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 1rem;
}
  
h1 {
  font-size: 2.25rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px var(--clr-yellow);
  margin-block-end: 0;
}

.container {
  margin: auto 0;
  flex-direction: column;
  max-width: 30rem;
  text-align: center;
}

#howToPlayAreaBtn {
  cursor: pointer;
}

#howToPlayDiv {
  line-height: 2rem;
  font-size: 1rem;
  font-weight: 400;
}
/*#endregion */

/*#region - Register and Signup */
h2 {
  font-size: 1.5rem;
  text-shadow: none;
  letter-spacing: 3px;
  margin: 0; 
}

.inputFields {
  width: 15rem;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2rem;
  box-sizing: border-box;
}

.submitBtn{
  width: 12rem;
  padding: 1rem;
  border-radius: 50rem;
  border: none;
  background: var(--clr-yellow);
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.75);
  transition: 250ms ease-in-out;
  cursor: pointer;
  outline: none;
  margin-bottom: 1rem;
}

.submitBtn:hover {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.75);
  background: var(--clr-orange);
}
/*#endregion */

/* REUSABLE CLASSES */
.flex {
  display: flex;
}
.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

